In [30]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float
import pandas as pd
import config

In [31]:
#Creating Connection String to Postgres
CONN_STRING = (
    f"postgresql://{config.username}:{config.password}"
    f"@{config.host}/{config.data_base}"
)

In [32]:
#Connecting and Running Engine 
engine = create_engine(CONN_STRING)
conn = engine.connect()

In [33]:
#department_df = pd.read_sql("departments", conn, index_col="dept_no""Dept_name")
department_df = pd.read_sql("departments", conn)
department_df.head()

  dept_no        dept_name
0    d001        Marketing
1    d002          Finance
2    d003  Human Resources
3    d004       Production
4    d005      Development